/* APP */
* {
    font-family: "Open Sans", sans-serif;
}

body {
    background-image: linear-gradient(to right, #4e54c8, #8f94fb);
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-family: "Rajdhani", sans-serif;
    color: #f3f0ff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 4em;
}

/* SEARCH BAR */
#search-input {
    outline: none;
    width: 550px;
    height: 40px;
    font-size: 18px;
    opacity: 80%;
    border: none;
    border-radius: 5px;
    background-color: #fdfcff;
    padding: 2px 23px 2px 20px;
}

/* WEATHER LIST */
.weather-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-name {
    font-family: "Cutive Mono", monospace;
    color: #f3f0ff;
    font-size: 2em;
}

/* WEATHER ITEM */
.item-container {
    border: 3px solid salmon;
}

.item-data {
    border: 2px solid burlywood;
}
